services:
  ome:
    build:
      context: .
      dockerfile: ome-server/Dockerfile
    environment:
      OME_HOST_IP: 140.112.91.219
    volumes:
      - ./ome-server/Server.xml:/opt/ovenmediaengine/bin/origin_conf/Server.xml
      - ./ssl-config/:/opt/ovenmediaengine/bin/ssl-config/
    restart: unless-stopped

  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    ports:
      - "1935:1935"      # RTMP
      - "8088:8088"      # Frontend
    depends_on:
      - ome
      - relay_service
      - frontend
    volumes:
      - ./ssl-config:/etc/nginx/ssl:ro
    restart: unless-stopped

  relay_service:
    build:
      context: .
      dockerfile: relay_service/Dockerfile
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - relay_service/.env
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    volumes:
      - ./ssl-config:/ssl-config:ro
    env_file:
      - frontend/.env
    restart: unless-stopped

